<div class="container">
            <div class="grid">
            <ul id='card1'>
            <li>
                <div class="flip">
                    <div class="front">
                        <h1 class="text-shadow"><img src="{{artists.items[0].images[1].url}}"/></h1>
                    </div>
                    <div class="back">
                    <h2>{{artists.items[0].name}} </h2>
                    </div>
                </div>
            </li>
        </ul>
            <ul id='card2'>
                <li>
                <div class="flip">
                    <div class="front">
                        <h1 class="text-shadow"><img src="{{artists.items[1].images[1].url}}"/></h1>
                    </div>
                    <div class="back">
                    <h2>{{artists.items[1].name}} </h2>
                    </div>
                </div>
                </li>
            </ul>
            <ul id='card3'>
                <li>
                    <div class="flip">
                        <div class="front">
                            <img src="{{artists.items[2].images[1].url}}" class="text-shadow"/>
                        </div>
                        <div class="back">
                            {{artists.items[2].name}} 
                        </div>
                    </div>
                    </li>
            </ul>
            <ul id='card4'>
                <li>
                    <div class="flip">
                        <div class="front">
                            <h1 class="text-shadow"><img src="{{artists.items[3].images[1].url}}"/></h1>
                        </div>
                        <div class="back">
                        <h2>{{artists.items[3].name}} </h2>
                        </div>
                    </div>
                    </li>
            </ul>
            <ul id='card5'>
                <li>
                    <div class="flip">
                        <div class="front">
                            <h1 class="text-shadow"><img src="{{artists.items[4].images[1].url}}"/></h1>
                        </div>
                        <div class="back">
                        <h2>{{artists.items[4].name}} </h2>
                        </div>
                    </div>
                    </li>
            </ul>
        </div>
    </div>