
<div class="container">
        <div class="grid">
        <ul id='card1'>
        <li>
            <div class="flip">
                <div class="front">
                    <h1 class="text-shadow"><img src="{{tracks.items[0].album.images[1].url}}"/></h1>
                </div>
                <div class="back">
                <h2>{{tracks.items[0].name}} </h2>
                    <p>{{tracks.items[0].artists[0].name}}</p>
                </div>
            </div>
        </li>
    </ul>
        <ul id='card2'>
            <li>
            <div class="flip">
                <div class="front">
                    <h1 class="text-shadow"><img src="{{tracks.items[1].album.images[1].url}}"/></h1>
                </div>
                <div class="back">
                <h2>{{tracks.items[1].name}} </h2>
                    <p>{{tracks.items[1].artists[0].name}}</p>
                </div>
            </div>
            </li>
        </ul>
        <ul id='card3'>
            <li>
                <div class="flip">
                    <div class="front">
                        <h1 class="text-shadow"><img src="{{tracks.items[2].album.images[1].url}}"/></h1>
                    </div>
                    <div class="back">
                    <h2>{{tracks.items[2].name}} </h2>
                        <p>{{tracks.items[2].artists[0].name}}</p>
                    </div>
                </div>
                </li>
        </ul>
        <ul id='card4'>
            <li>
                <div class="flip">
                    <div class="front">
                        <h1 class="text-shadow"><img src="{{tracks.items[3].album.images[1].url}}"/></h1>
                    </div>
                    <div class="back">
                    <h2>{{tracks.items[3].name}} </h2>
                        <p>{{tracks.items[3].artists[0].name}}</p>
                    </div>
                </div>
                </li>
        </ul>
        <ul id='card5'>
            <li>
                <div class="flip">
                    <div class="front">
                        <h1 class="text-shadow"><img src="{{tracks.items[4].album.images[1].url}}"/></h1>
                    </div>
                    <div class="back">
                    <h2>{{tracks.items[4].name}} </h2>
                        <p>{{tracks.items[4].artists[0].name}}</p>
                    </div>
                </div>
                </li>
        </ul>
        <ul id='card6'>
            <li>
                <div class="flip">
                    <div class="front">
                        <h1 class="text-shadow"><img src="{{tracks.items[5].album.images[1].url}}"/></h1>
                    </div>
                    <div class="back">
                    <h2>{{tracks.items[5].name}} </h2>
                        <p>{{tracks.items[5].artists[0].name}}</p>
                    </div>
                </div>
                </li>
        </ul>
    </div>
</div>